.statistics {
  width: 400px;
}

.title {
  text-align: center;
}

.stat-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;

  padding: 10px 5px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 50px;
  border: 2px dotted rgb(12, 12, 47);
  padding: 10px;
}
